
@import url(https://fonts.googleapis.com/css?family=Raleway);

*, *:before, *:after{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing:border-box;
    box-sizing: border-box;
}

body{
    background: #363636;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
}

.main-title{
    color: #2d2d2d;
    text-align: center;
    text-transform: capitalize;
    padding: 0.7em 0;
}

/*.container2{*/
/*    padding: 1em 0;*/
/*    float: left;*/
/*    width: 50%;*/
/*}*/
/*@media screen and (max-width: 640px){*/
/*    .container2{*/
/*        display: block;*/
/*        width: 100%;*/
/*    }*/
/*}*/

/*@media screen and (min-width: 900px){*/
/*    .container2{*/
/*        width: 33.33333%;*/
/*    }*/
/*}*/

/*.container2 .title{*/
/*    color: #1a1a1a;*/
/*    text-align: center;*/
/*    margin-bottom: 10px;*/
/*}*/

.content {
    position: relative;
    width: 90%;
    max-width: 400px;
    margin: auto;
    overflow: hidden;
}

.content .content-overlay {
    background: rgba(0,0,0,0.5);
    position: absolute;
    height: 97.5%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay{
    opacity: 1;
}

.content-image{
    width: 100%;
}

.content-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details{
    top: 50%;
    left: 50%;
    opacity: 1;
}

.content-details h3{
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.15em;
    margin-bottom: 0.5em;
    text-transform: uppercase;
}

.content-details p{
    color: #fff;
    font-size: 0.8em;
}

.fadeIn-bottom{
    top: 80%;
}

.fadeIn-top{
    top: 20%;
}

.fadeIn-left{
    left: 20%;
}

.fadeIn-right{
    left: 80%;
}


/*zweiter aufbau*/

.content-two {
    position: relative;
    width: 100%;
    /*max-width: 400px;*/
    margin: auto;
    overflow: hidden;
}

.content-two .content-two-overlay {
    background: rgba(0,0,0,0.3);
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}

.content-two:hover .content-two-overlay{
    opacity: 1;
}

.content-two-image{
    width: 100%;
}

.content-two-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.content-two:hover .content-two-details{
    top: 68%;
    left: 50%;
    opacity: 1;
}

.content-two-details h3{
    color: #fff;
    font-size: 5em;
    font-weight: 500;
    letter-spacing: 0.15em;
    margin-bottom: 0.1em;
    text-transform: uppercase;
}

.content-two-details p{
    color: #fff;
    font-size: 2em;
}

.fadeIn-bottom-two{
    top: 80%;
}

/*****************NACHBAUEN**********/

.showcase p{
color: #65a2
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
}

.showcase.slideright:hover {
-webkit-transform: translate(3em,0);
    -moz-transform: translate(3em,0);
    -o-transform: translate(3em,0);
    -ms-transform: translate(3em,0);
    transform: translate(3em,0);
}


.content-tx {
    position: relative;
    width: 100%;
    max-width: 400px;
    margin: auto;
    overflow: hidden;
    -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        -webkit-transition: all 0.5s ease-in-out 0s;
        -moz-transition: all 0.5s ease-in-out 0s;
        transition: all 0.5s ease-in-out 0s;
}


.fadeIn-bottom-tx{
    top: 80%;
}

.contentT {
-webkit-transition: 1s ease-in-out;
        -moz-transition: 1s ease-in-out;
        -o-transition: 1s ease-in-out;
        transition: 1s ease-in-out;
}

.contentT.slide:hover {
-webkit-transform: translate(0,-3em);
      -moz-transform: translate(0,-3em);
      -o-transform: translate(0,-3em);
      -ms-transform: translate(0,-3em);
      transform: translate(0,-3em);
}

.contentT h4 {
font-size: 3em;
text-transform: uppercase;
margin-bottom: 0.5em;
}

